body{
margin: 0;
padding: 0;
font-family: 'Times New Roman', Times, serif;
background-image: url(/mj/JOA4.jpeg);
width: 100%;
height: 100%;
}

h2{
   font-family: italic; 
   font-size: 20px;

}
.logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    margin-top: 20px;
    background-color:  rgba(116, 112, 112, 0.2);
}
ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
     
}
li:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
li a{
    text-decoration: none;
    font-size: 15px;
    color: white;
    background-color: rgba(100,100,100,.2);
    padding: 3px;
    border-radius: 5px;
}
li a:hover{
    color: black;
    background-color:  rgb(136, 8, 30);
}
.container img{
    width: 300px;
    height: 300px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
}
section h1{
    text-align: center;
}
.container p{
    font-size: 20px;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.max{
    width: 200px;
    height: 20px;
    background-color: grey;
}
.valeur{
    width: 75%;
    height: 20px;
    background-color: black;
    border-radius: 10px;
}
.valeur1{
    width: 60%;
    height: 20px;
    background-color: green;
    border-radius: 10px;
    
}
.valeur3{
    width: 25%;
    height: 20px;
    background-color: green;
    border-radius: 10px;
}


.valeur2{
    width: 70%;
    height: 20px;
    background-color: black;
    border-radius: 10px;
}
.matt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
    background-color:  rgba(109, 94, 94, 0.2);
    
}
a img{
    border-radius: 50%;
}
a img:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
div.mav{
    display: grid;
    height: 200px;
    place-items: center;

    
}
span{
    font-weight: bold;
    font-size: 20px;
}
h3{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section.comp{
    background-color: rgb(2, 36, 2);
    color: white;
}
fieldset{
    border-color: black;
    padding: 30px;

}
